name: test comment
on:
  issue_comment:
    types: [created]
jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.comment.body == '/update' }}
    steps:      
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        uses: ./
        with:
          # This is the token that is used to authenticate with the GitHub API
          # If BOT_TOKEN is not set, the default GITHUB_TOKEN is used
          token: ${{ secrets.BOT_TOKEN || secrets.GITHUB_TOKEN }}

